:root{
    font-size: 10px;
    --font-heading: 5.2em;
    --font-paragraph: 18px;
    --green-color:#54E6AF;
    --form-color:#2C344B;
    --background-navy-blue-color:#121725;
    --white:#ffffff;
    --form-hover-color:#5A668A;
    --grey-color:#C2CBE5;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    font-size: 100%;
}
::before, ::after{
    position: absolute;
    content: '';
}
body::after{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    background-image: url(../assets/desktop/bg-pattern-dots.svg),  url(../assets/desktop/logo.svg), url(../assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-position: right bottom 10%, left 20% top 10%, right center;
    z-index: -1;
}
body{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding-bottom: 130px;
    background-color: var(--background-navy-blue-color);
} 
main{
    position: absolute;
    top:50%;
    left:10%;
    transform: translateY(-40%);
    max-width: fit-content;
    padding: 90px 60px 0 0;
    background-color: var(--background-navy-blue-color);
}
.container{
    display: flex;
    flex-direction: column;
}
main h1{
    font-size: 5.2em;
    font-weight: 400;
    line-height: 62px;
    text-transform: uppercase;
    color: var(--green-color);
}
main h1 span{
    color: var(--grey-color);
}
main p{
    max-width: 445px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--grey-color);
    opacity: 0.5;
    margin-top: 24px;
}
form{
    margin-top: 40px;
    position: relative;
    width: 430px;
}
input {
    width: 100%;
    padding: 20px 0 20px 32px;
    background-color: var(--form-color);
    border: none;
    outline: none;
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 400;
    color:white;
}
input::placeholder{
    color:white;
    font-size: 14px;
    font-weight: 400;
}
button {
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    padding: 10px 28px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--green-color);
    font-size: 14px;
    font-weight: 400;
}
.img-contianer{
    margin-top: 42px;
    display: flex;
    gap: 40px;
}
.img-contianer img{
    object-fit: contain;
}
.oops{
    color: #FB3E3E;
    opacity: 1;
    margin: 0;
}
@media (max-width: 1250px){
    body::after{
        background-image: url(../assets/desktop/bg-pattern-dots.svg),  url(../assets/desktop/logo.svg), url(../assets/tablet/image-host.jpg);
        background-position: left 5% bottom, left 40px top 50px, right top;
    }
    main{
        left: 0;
    }
    main h1{
        font-size: 48px;
    }
}
@media (max-width: 800px){
    body::after{
        background-image:  url(../assets/desktop/logo.svg), url(../assets/mobile/image-host.jpg);
        background-position: center top, top center;
        background-size: auto, cover;
        backface-visibility: hidden;
        opacity: 0.25;
    }
    main{
        width: 100%;
        max-width: 100%;
        padding: 0;
        background-color: transparent;
    }
    main h1{
        text-align: center;
    }
    main p{
        text-align: center;
    }
    .container{
        align-items: center;
    }
    .img-contianer{
        order: 2;
        gap:20px;
    }
    form{
        order:3;
    }
}